* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

:root {
  --orange: rgb (255, 111, 4);
  --black: rgb (3, 9, 9);
  --white: #fff;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-image: url(bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  width: 100%;
  height: 70px;

  nav {
    display: flex;
    justify-content: space-between;
    padding: 25px;

    .logo {
      font-size: 30px;
      font-weight: 600;
      letter-spacing: -2px;
      color: #fff;
    }

    .nav-lists {
      ul {
        display: flex;
        gap: 40px;
        padding: 10px;
        color: #fff;
        font-weight: 600;
      }
      ul li {
        list-style: none;
        cursor: pointer;
        position: relative;
        &:hover {
          color: rgb(252, 114, 3);
        }

        .services-child a {
          text-decoration: none;
          color: rgb(252, 114, 3);
          height: 35px;
          background-color: #fff;
          display: block;
          padding: 15px;
          display: none;
          &:hover {
            color: rgb(252, 114, 3);
          }
        }
      }
      .services:hover .services-child a {
        display: block;
      }
    }

    .input-box {
      padding: 8px 20px;
      border-radius: 5px 0px 0px 5px;
      background: none;
      outline: none;
      font-size: 15px;
      color: #fff;
      border: 1px solid rgb(66, 52, 44);
    }

    .search-btn {
      padding: 10px 15px;
      background: rgb(252, 114, 3);
      border: none;
      color: #fff;
      font-weight: 600;
      cursor: pointer;
      border-radius: 0px 5px 5px 0px;
    }
  }
}
.hamburger {
  display: none;
  color: #fff;
  font-size: 25px;
}

main {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 10%;
  .body-content {
    width: 40%;
    h1 {
      font-size: 60px;
      color: #fff;

      b {
        color: rgb(252, 114, 3);
      }
    }
    p {
      color: #fff;
    }

    .joinUs-btn {
      padding: 10px 40px;
      border-radius: 10px;
      border: none;
      color: #fff;
      font-weight: 600;
      cursor: pointer;
      margin-top: 25px;
      background: rgb(252, 114, 3);
    }
  }

  .form-section {
    border: 1px solid;
    background: black;
    opacity: 0.8;
    border-radius: 10px;
    padding: 35px;
    width: 25%;

    h1 {
      background: #fff;
      color: rgb(252, 114, 3);
      text-align: center;
      border-radius: 15px;
      /* margin: auto; */
      margin-bottom: 20px;
      font-size: 25px;
      padding: 8px;
    }

    .form-control {
      display: flex;
      flex-flow: column;

      input {
        background: none;
        border: none;
        border-bottom: 1px solid rgb(252, 114, 3);
        margin-top: 10px;
        outline: none;
        color: #fff;
        font-size: 15px;
      }
      small {
        color: red;
        padding-top: 10px;
      }
    }

    .login-btn {
      width: 100%;
      padding: 8px;
      margin-top: 10px;
      border-radius: 10px;
      border: none;
      font-size: 15px;
      font-weight: 600;
      color: #fff;
      cursor: pointer;
      background: rgb(252, 114, 3);
    }

    p {
      color: #fff;
      text-align: center;
      padding: 15px;

      a {
        text-decoration: none;
        color: rgb(252, 114, 3);
      }
    }

    small {
      visibility: hidden;
    }

    .form-control.error input {
      border-bottom: 1px solid red;
    }

    .form-control.success input {
      border-bottom: 1px solid green;
    }

    .form-control.error small {
      visibility: visible;
    }

    .social-div .icons {
      display: flex;
      justify-content: space-between;
      color: #fff;
      font-size: 25px;
      cursor: pointer;
    }
  }
}
.search-icon,
.cancel-icon {
  display: none;
  color: #fff;
  font-size: 25px;
}

@media screen and (max-width: 767px) {
  nav {
    .nav-lists {
      display: none;
      ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 50px;
        background: black;
        opacity: 0.8;
        z-index: 10;
      }
    }

    .search-input {
      display: none;
      top: 90px;
      transition: 0.2s all;

      .search-btn {
        position: absolute;
        top: 60px;
        right: 0px;
      }
      .input-box {
        position: absolute;
        top: 60px;
        right: 50px;
        background: #fff;
      }
    }

    .hamburger {
      display: block;
      color: #fff;
    }
  }
  main {
    margin-top: 50px;
    .body-content {
      display: none;
    }

    .form-section {
      width: 80%;
    }
  }
  .search-icon {
    display: block;
    color: #fff;
    font-size: 25px;
  }
  .cancel-icon {
    display: none;
    color: #fff;
    font-size: 25px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  nav {
    padding: 20px;
    .nav-lists {
      display: none;
    }
    .hamburger {
      display: block;
    }
  }

  main {
    justify-content: space-between;
    margin-top: 100px;
    padding: 15px;

    .form-section {
      width: 50%;
      height: 50vh;
    }
  }
}
